@import "tailwindcss";

/* === Work Sans Regular & Light === */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400&display=swap');
/* === IBM Plex Mono Medium === */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&display=swap');
/* === Inter Semibold === */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

:root {
  --background: #DAF0FF;
  --foreground: #171717;
  --dark-background: #17171c;
	--dark---text: #fff;
	--dark-button-high-emphasis: #4b5efc;
	--dark-button-medium-emphasis: #4e505f;
	--dark-button-low-emphasis: #2e2f38;
	--light-background: #f1f2f3;
	--light---text: #000;
	--light-button-high-emphasis: #4b5efc;
	--light-button-medium-emphasis: #d2d3da;
	--light-button-low-emphasis: #fff;
	--general---white: #fff;

  --font-family: "Work Sans", sans-serif;
  --inter-family: "Inter", sans-serif;
  --mono-family: "IBM Plex Mono", monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-family);
}

.light-text {
  font-weight: 300; /* Work Sans Light */
}

.mono-text {
  font-family: var(--mono-family);
  font-weight: 500; /* Medium */
}

.inter-text {
  font-family: var(--inter-family);
  font-weight: 600; /* Semibold */
}

.container {
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
}